
Django
channels
daphne
djangorestframework
djangorestframework-simplejwt 
psycopg2-binary>=2.9
django-cors-headers
Pillow
requests
pyjwt
python-dotenv
gunicorn
django-redis
channels-redis
celery[redis]
django-celery-beat
python-logstash
logstash-formatter
django-elasticsearch-dsl



